<h1> this is the register page </h1>
<form action="/" method="POST">
    <input type="text" placeholder="username" name="user">
    <input type="password" placeholder="password" name="password">
    <button>submit</button>
</form>
<li><a href="/register">Sign Up</a></li>
<li><a href="/Login">Login</a></li>
<li><a href="/Logout">Logout</a></li>