<!-- incluead header partial -->
<% include partials/header %>
<h1> para.ejs</h1>

<h2> the parameter is: <%= par %> </h2>
<!-- returns a value  <%= %> --><!-- returns a value -->
<!-- runs code--> <% %> <!-- runs code-->
 <% for (var i=0;i<10;i++){%>
     <li> his name was <%= par %> </li>
      
<% } %>
<% include partials/footer %>
<!-- include footer-->